<h1>Indoor jungle for the urban gardener</h1>
<p>Jungle is a boutique plant store that specializes in trending and rare house plants. We take pride in maintaining strong horticultural practices as well as curating a unique selection of plants and plant accessories. Our design team at Jungle do home + commercial plant installments.</p>